
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to top, #ffd38e, #ffffff);
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.f-display{
    display: flex;
}
nav{ 
    margin: 10px auto;
    max-width: 1440px;
    align-items: center;
}
.title{
    width: 227.75px;
    height: 62px;
    align-items: center;
    margin-left: 0;
    cursor: pointer;
}
.nav-title{
    font-size: 2rem;
    font-weight: 800px;
}
.nav-link{
    text-decoration: none;
    justify-items: center;
    margin: 0 auto;
}
.title-bar1{
   text-decoration: none;
   margin-right: 20px;
   font-size: 1.25rem;
   font-weight: 800;
   color: #FEA301;
}
.title-bar2{
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #01ACFD;
}
.title-bar3{
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #05D4DF;
}
.title-bar4{
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.25rem;
    font-weight: 800;
    color: #5D58EF;
}
.nav-btn{
    width: 197px;
    height: 50px;
    font-family: "Quicksand", serif;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEA301;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: #e6871f;
    color: #ffffff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.marquee-container{
    max-width: 1440px;
    overflow: hidden;
    background-color: #8c2bf9;
    color: white;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation-play-state: running;
    
}
.marquee{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
    transform: translateX(100%);
    
}
.marquee-container:hover .marquee {
    animation-play-state: paused;
}
.marquee p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.Empowering-container{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}
.Empowering-contant{
    margin-top: 100px;
}
.empowering-title{
    font-size: 3.5rem;
    font-weight: 800px;
}
#emp-org{
  color: #FEA301;
}
#emp-blu{
  color: #01ACFD;
}
.Empowering-desc{
    font-size: 1.25rem;
    font-weight: 400px; 
}
.Empowering-btn{
    width: 197px;
    height: 50px;
    font-family: "Quicksand", serif;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: #111111;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer; 
}
.Empowering-btn:hover{
    background-color: #ffffff;
    color: #111111; 
    cursor: pointer; 
    transition: background-color 0.3s ease, opacity 0.3s ease;
    border: 1px solid #111111;
}
.curriculum-section{
    max-width: 1440px;
    margin: 0px auto;
    justify-content: center;
    background-image: url(../assets/bg.png);
}
.curriculum-title{
    font-size: 2.90rem;
    font-weight: 800;
    text-align: center;
}
.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 55px;
}
.kinder{
    text-align: center;
    border: 1px solid #daf0f9;
    width: 367.8px;
    height: 476.78px;
    padding: 50px 20px;
    border-radius: 30px;
    background: linear-gradient(to bottom,#daf0f9,#ffffff );
}
.elementary{
    text-align: center;
    border: 1px solid #faefda;
    width: 367.8px;
    height: 476.78px;
    padding: 50px 20px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #faefda, #ffffff );
} 
.middle{
    text-align: center;
    border: 1px solid #e9def8;
    width: 367.8px;
    height: 476.78px;
    padding: 50px 20px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #e9def8, #ffffff ); 
}
.culum-subtitle{
    font-size: 1.53rem;
    font-weight: 800;
}
.culum-desc{
    font-family: "Raleway", serif;
    font-size: 0.94rem;
    font-weight: 500;
    color: #808080;
}
.culum-btn{
    text-decoration: none;
    font-size: 0.94rem;
    font-weight: 800;
    color: #66c9fc;
}
.culum-btn-blu{
    text-decoration: none;
    font-size: 0.94rem;
    font-weight: 800;
    color: #efa82a; 
}
.culum-btn-ple{
    text-decoration: none;
    font-size: 0.94rem;
    font-weight: 800;
    color: #8526f9;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.icon-box{
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    background-color: #fda12a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.icon-box:hover{
    background-color: #e6871f;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}
.fa-solid fa-chevron-left fa-xl{
    font-size: 12px;
}
.fa-solid fa-chevron-right fa-xl{
    font-size: 12px;
}
.story-container{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg.png);

}
.story-title{
    font-size: 2.88rem;
    font-weight: 800;
    text-align: center;
}
.toddler{
    display: inline-block;
    position: relative;
    margin-left: 50px;
    padding: 0;
}
.toddler img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.toddler-container{
    width: 540px;
    height: 357px;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    margin: 0px;
    padding: 20px;
}
.toddler-title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
    padding: 20px; 
}
.toddler-desc{
    font-size: 0.95rem;
    font-weight: 500; 
    color: #666666;
    padding: 0 20px;
}
.big-date{
    position: absolute;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    font-family: "Raleway", serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: #3CD8E8;
    padding: 10px;
    margin-top: -45px;
    margin-left: 20px;
}
.story-contant{
    display: flex;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 40px;
}
.needs{
    display: inline-block;
    position: relative;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 0;
}
.needs img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.needs-container{
    width: 290.69px;
    height: 124px;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    margin: 0px;
    padding: 20px;
}
.needs-title{
    font-size: 1.15rem;
    font-weight: 800;
    margin-top: 20px;
    padding: 20px; 
}
.story2-date{
    position: absolute;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    font-family: "Raleway", serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: #96b139;
    padding: 10px;
    margin-top: -45px;
    margin-left: 20px;
}
.story3-date{
    position: absolute;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    font-family: "Raleway", serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: #5c5eeb;
    padding: 10px;
    margin-top: -45px;
    margin-left: 20px;
}
.story4-date{
    position: absolute;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    font-family: "Raleway", serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: #e84d88;
    padding: 10px;
    margin-top: -45px;
    margin-left: 20px;
}
.story5-date{
    position: absolute;
    height: 50px;
    width: 175px;
    border-radius: 50px;
    font-family: "Raleway", serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: #10aef9;
    padding: 10px;
    margin-top: -45px;
    margin-left: 20px;
}
.last-btn{
    width: 197px;
    height: 50px;
    font-family: "Quicksand", serif;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: #111111;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    margin: 20px 630px;
    padding: 10px;
}
.last-btn:hover{
    background-color: #ffffff;
    border: 1px solid black;
    color: #111111;
    cursor: pointer;
}
footer{
    width: 1439px;
    height: 519px;
    background-color: #10aef9;
    margin: 0 auto  ;
    align-items: center;
    justify-content: space-evenly;
}
.footer-container{
    display: flex;
    align-items: center;
}
.footer-desc{
    font-size: 1.25rem;
    font-weight: 400px; 
    color: #ffffff;
}
.foot-bar{
    width: 600px;
    height: 350px;
    margin: 150px 50px 50px 50px;
}
.footer-title{
    font-size: 2rem;
    font-weight: 800px;
    color: #ffffff; 
}
.link-title{
    text-decoration: none;
    font-size: 1.5rem;
    font-size: 800;
    color: #ffffff;
    margin-top: -110px;
}
.footer-link{
    margin-top: -50px;
}
.link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 40px;
}
.icon-title{
    font-size: 1.6rem;
    font-weight: 800;
    color: #ffffff;
    margin: -110px 200px 50px 200px;
}
.icon-link{
    margin: -30px 200px 50px 200px;
    cursor: pointer;
}

@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

 /* Media Query to hide the text on small screens */
@media screen and (max-width: 576px) {
    .marquee-container,
    .nav-link,
    .nav-title,
    .nav-btn,
    .icon-container,
    .toddler{
       display: none;
    }
    nav,
    div,
    .title,
    .Empowering-container,
    .story-contant{
        flex-direction: column;
    }
    nav{
        border: 2px solid #FEA301;
        margin: 0px;
    }
    .nav-img{
        margin-left: 0;
    }
    .Empowering-logo{
        margin: 10px;
    }
    .grid-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .curriculum-container{
        grid-template-columns: repeat(1, 1fr);

    }

}